<div class="row">
<div class="formulario span12">    
 <form action="{{ path('registrarRecursoRecibido') }}" method="post"  >
 {# Campo oculto con el ID del proyecto #}
   <input type="hidden" id="idProyecto" 
          name="data[idProyecto]" value="{{ data.idProyecto }}" />
 {# CREAMOS CAMPOS OCULTOS CON LAS MONEDAS PARA AJAX #}
 {% for m in data.monedas %}    
    <input type="hidden" id="simbolo{{ m.id }}" value="{{ m.simbolo }}" />
 {% endfor %}   
   
   <table id="formRecursoRecibido" style="width:600px; height:400px;">
    <thead>
     <tr>
      <th width="50%">Registro de Recepci칩n de Recursos</th>
      <th style="text-align:right">         
          <span class="btn btn-danger"  title="Clic para Cerrar"
                onclick="cancelarModal();">
            <i class="icon-off icon-white"></i>
          </span> 
      </th>          
     </tr>           
    </thead>            
    <tbody>
     <tr>
      <td colspan="2">
        <div class="row-fluid">
          <div class="span5">
            <label>Fecha de Recepci칩n</label>
            <p>
              <input type="text" id="fecha" name="data[fecha]" class="span8"
                     maxlength="10" value=""
                     style="text-align: center; background-color: white; cursor: pointer" 
                     readonly="readonly" />  
            </p>       
          </div>
          <div class="span6" style="margin-left:0px">
            <label>Fuente de Financiamiento</label> 
            <p>            
             <select id="fuente" name="data[fuente]" class="span11 campo" 
                     title="Fuente de Financiamiento" >
               <option value="0" >[ Seleccione ]</option>
            {% for f in data.fuentes %}               
               <option value="{{ f.id }}" >{{ f.fuente }}</option>
            {% endfor %}
             </select>   
            </p>        
          </div>                 
        </div>           
        <div class="row-fluid">
          <div class="span4">
            <label>Moneda</label> 
            <p>    
             <select id="moneda" name="data[moneda]" class="span11 campo" title="Moneda Utilizada"
                     onchange="cambiaMoneda($(this));" >
            {% for m in data.monedas %}
               <option value="{{ m.id }}" >{{ m.moneda }}</option>
            {% endfor %}
             </select>   
            </p>        
          </div>  
          <div class="span1" id="simboloMoneda"
               style="text-align:right; padding: 25px 10px 0px 0px; font-size: 1.2em"> 
              Bs.
          </div>      
          <div class="span5" style="margin-left:0px">
            <label>Monto Total</label> 
            <p>            
             <input type="text" id="monto" class="span8 campo" 
                    style="text-align: right"
                    title="Monto de los Recursos Recibidos"
{# onlyDigits(e, value, allowDecimal, allowNegative, allowThousand, decSep, thousandSep, decLength) #}
                    onblur="this.value=formatNumber(this.value,2);"
                    onkeyup="formatNumber(this.value,2);" 
                    onkeypress="return onlyDigits(event, this.value,true,false,false,',','.',2);"                    
                    maxlength="14"
                    name="data[monto]" value="" />   
            </p>        
          </div>                
        </div>            
        <div class="row-fluid">      
          <div class="span12">
            <label>Observaciones</label> 
            <p>            
             <textarea id="observaciones" rows="2" class="span11 campo" 
                       maxlength="150"
                       title="Indique m치s detalles de la recepci칩n de estos recursos."
                       name="data[observaciones]" ></textarea>   
            </p>        
          </div> 
        </div>        
     </td>
    </tr>
   </tbody> 
   <tfoot>
    <tr>
     <td colspan="2">
      <div class="row-fluid">   
         <div class="span12">
           <span id="boton" onclick="guardar('RecursoRecibido')" 
                 class="btn btn-danger" 
                 title="Guardar Registro">
            <i class="icon-hdd icon-white"></i> Guardar</span>            
         </div>     
      </div>
     </td>  
    </tr>
   </tfoot>
  </table> 
</form>
</div> 
</div>