{% extends 'SisproBundle:Plantillas:base.html.twig' %}
{% block title %} 
{{ parent() }}
| Cambiar Clave
{%endblock%}
{% block body %}
<div class="row formulario">  
<div class="span4 offset4">    
 <form action="{{ path('cambiarClave') }}" method="post" {{ form_enctype(formulario) }} >
   <table>
    <thead>
     <tr>
      <th width="50%">Cambiar contrase単a</th>   
      <th style="text-align:right">
          <a href="{{ path('perfilUsuario') }}">
          <span class="btn btn-danger" title="Clic para Cerrar">
            <i class="icon-off icon-white"></i>
          </span></a></th>      
     </tr>           
    </thead>            
    <tbody>
     <tr>
      <td style="padding-left: 60px" colspan="2">
          <label>Contrase単a actual</label>
         <p {% if data.mensaje!='' %}
            class="campoInvalido" title="{{ data.mensaje }}"
            {% endif %}> 
          <input type="password" name="clavevieja"/> </p>
        <br/>
        {{ form_label(formulario.clave.first,'Nueva contrase単a') }}       
        <p {% if form_errors(formulario.clave.first) %}
            class="campoInvalido" title="{{ form_errors(formulario.clave.first)|striptags }}"
            {% endif %}> {{ form_widget(formulario.clave.first) }} </p>        
        {{ form_label(formulario.clave.second,'Repetir contrase単a') }}       
        <p {% if form_errors(formulario.clave.first) %}
            class="campoInvalido" title="{{ form_errors(formulario.clave.first)|striptags }}"
            {% endif %}> {{ form_widget(formulario.clave.second) }} </p>         
      </td>
    </tr>
    <tr>
    <td style="padding:0 30px; text-align: center" colspan="2"> 
        {% if form_errors(formulario.clave.first) %}
        <div class="alert alert-error">{{ form_errors(formulario.clave.first)|striptags }}</div> 
        {% endif %}
        <div class="oculto">
           {{ form_rest(formulario) }}
        </div>             
     </td>     
    </tr> 
   </tbody>
   <tfoot>
    <tr>
     <td colspan="2">
      <div id="guardar">
       <button class="btn btn-danger" 
             title="Cambiar">
          <i class="icon-user icon-white"></i> Cambiar</button>
      </div>      
     </td>  
    </tr>
   </tfoot>
  </table>         
</form>
</div>        
</div> 
{% endblock %}