{# Correo que recibe el usuario responsable del proyecto, cuando el mismo, posee 
   actividades que han superado su fecha tope de culminación sin tener registros
   de Metas físicas alcanzadas. #}
<html>
 <head></head>
 <body>
  <p>Buen día Camarada <strong>{{ usuario }}</strong>,</p>
  <p>Le recordamos, que el proyecto código OESEPP:<i>{{ codigo }}</i>, de nombre: 
      <i>"{{ proyecto|upper }}"</i>, perteneciente a la unidad: <i>{{ ente|upper }}
      ({{ siglas|upper }})</i>, del cual ud. es responsable en mantener actualizados 
      los datos de su ejecución,
      presenta más de una actividad que ha superado la fecha tope de culminación
      según lo planificado, sin que a la fecha, tenga registro alguno de 
      cumplimiento de meta física alcanzada.</p>
  <p>Por lo antes mencionado, se requiere, por favor, actualice los datos de ejecución 
      del proyecto, o reporte cualquier novedad presentada en el mismo
      a la brevedad posible, para así poder tomar las medidas necesarias 
      en favor de brindar nuestra cooperación para el cumplimiento de las metas trazadas.</p>  
  <p>Gracias por su amable atención.<br/>
  Para cualquier consulta, no dude en comunicarse con 
  nuestros enlaces a los números indicados:</p>
  <table border="1">
   <thead>
       <tr>
        <th colspan="2" style="text-align: left">
           Enlaces de la OESEPP, responsables de hacerle seguimiento 
           a los organismos y unidades territoriales de acuerdo al 
           Despacho de adscripción</th>
        <th>
            Nº de Oficina
        </th>
        <th>
            Nº de Celular
        </th>
       </tr>
   </thead>
   <tbody>
       <tr>
           <td style="text-align: left"  rowspan="2" width="30%">
               Fortalecimiento y Aplicaciones de la ciencia y la Tecnología
           </td>
           <td width="20%">
               María Gabriela García Riera
           </td>
           <td style="text-align: center; width:25%">
               0212-555-7743
           </td>
           <td style="text-align: center; width:25%">
               0416-728-9171
           </td>
       </tr>
       <tr>
           <td>
               José Gregorio de León
           </td>
           <td style="text-align: center;">
               0212-555-7559
           </td>
           <td style="text-align: center;">
               0414-126-5953
           </td>
       </tr>
       <tr>
           <td>
               Luis Adolfo Ramirez Tiape
           </td>
           <td style="text-align: center;">
               0212-555-7253
           </td>
           <td style="text-align: center;">
               0416-820-0733
           </td>           
       </tr>       
       <tr>
           <td style="text-align: left"  rowspan="2">
               Telecomunicaciones, Tecnologías de Información y Servicios Postales
           </td>
           <td>
               Lucy Andreína Costa Henriques
           </td>
           <td style="text-align: center;">
               0212-555-7256
           </td>
           <td style="text-align: center;">
               0424-188-8080
           </td>
       </tr>
       <tr>
           <td>
               Aixela Alida Jimenez Zurita
           </td>
           <td style="text-align: center;">
               0212.555-7283
           </td>
           <td style="text-align: center;">
               0424-209-8956
           </td>
       </tr>  
       <tr>
           <td style="text-align: left">
              Formación para la Ciencia y el Trabajo
           </td>
           <td>
               Joseudy Paola Martinez Pavone
           </td>
           <td style="text-align: center;">
               0212-555-7256
           </td>
           <td style="text-align: center;">
               0414-299-1652
           </td>
       </tr>   
       <tr>
           <td style="text-align: left">
              Coordinación de Unidades Territoriales
           </td>
           <td>
               Luis Adolfo Ramirez Tiape
           </td>
           <td style="text-align: center;">
               0212-555-7253
           </td>
           <td style="text-align: center;">
               0416-820-0733
           </td>  
       </tr>         
   </tbody>
  </table><br/>
  <p>
  También puede escribirnos a <a href="mailto:oesepp@mcti.gob.ve"> oesepp@mcti.gob.ve </a></p>
  <p>
    <i>“La mejor y la más radicalmente democrática de las opciones 
        para derrotar el burocratismo y la corrupción, es la construcción 
        de un Estado comunal, que sea capaz de ensayar un esquema institucional 
        alternativo en la misma medida en que se reinventa permanentemente”.</i></p>
        <span><i>Hugo Chávez</i></span>
 <hr/>
  Correo electrónico generado por el sistema SISPROOESEPP.<br/>
  <strong>No responder.</strong>
</body></html>
